<div class="container d-flex align-items-center justify-content-center">
  <div class="d-flex justify-content-center align-items-center w-50 border shadow rounded-4 p-2 m-4">
    <div class="col-md-10 p-0 m-0">
      <div class="login-box">
        <h2 class="text-center">Edit Your Information </h2>

        <%# TODO: Add country select gem %>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="d-flex justify-content-between">
              <%= f.input :first_name,
                          required: false,
                          autofocus: true,
                          label_html: { style: 'font-style: italic; margin-bottom: 0px; margin-bottom: 0px;' },
                          input_html: { class: 'rounded-4' } %>
              <%= f.input :last_name,
                          required: false,
                          autofocus: true,
                          label_html: { style: 'font-style: italic; margin-bottom: 0px; margin-bottom: 0px;' },
                          input_html: { class: 'rounded-4' } %>
            </div>

            <div class="form-group">
              <%= f.label :preferred_pronoun_select, "What are your preferred pronouns?", style: 'font-style: italic; margin-bottom: 0px;' %>
              <%= f.select :preferred_pronoun_select, options_for_select(['He/Him', 'She/Her', 'They/Them', 'Other', 'Prefer not to say']), required: true, autofocus: true %>
            </div>

            <%= f.input :preferred_pronoun_text,
                        required: false,
                        autofocus: true,
                        label: 'If other then please specify:',
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' } %>

            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :phone_number,
                        required: false,
                        autofocus: true,
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :address_first,
                        required: false,
                        autofocus: true,
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :address_second,
                        required: false,
                        autofocus: true,
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :post_code,
                        required: false,
                        autofocus: true,
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :city,
                        required: false,
                        autofocus: true,
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :linkedin_profile,
                        required: false,
                        autofocus: true,
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :github_profile_url,
                        required: false,
                        autofocus: true,
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :website_url,
                        required: false,
                        autofocus: true,
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :salary_expectation_figure,
                        required: false,
                        autofocus: true,
                        label: "What is you annual salary expectation?", label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :right_to_work,
                        required: false,
                        autofocus: true,
                        label: "Do you have the right to work in the UK without a visa?", label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }   %>

            <%= f.input :notice_period,
                        required: false,
                        autofocus: true,
                        label: "What is your notice period in weeks?", label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }   %>

            <%= f.input :resume,
                        as: :file,
                        required: true,
                        label: 'CV (PDF)',
                        input_html: {accept: ('application/pdf') },
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%# <%= f.input :cover_letter_template_url, required: false, autofocus: true, label_html: { style: 'font-style: italic; margin-bottom: 0px;' } %>

            <%= f.input :photo,
                        required: false,
                        as: :file,
                        label_html: { style: 'font-style: italic; margin-bottom: 0px;' },
                        input_html: { class: 'rounded-4' }  %>

            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" }, label_html: { style: 'font-style: italic;' } %>

          </div>
          <%= f.submit "Update", class: 'btn-add-info flex-grow-1' %>

        <% end %>
      </div>
    </div>
  </div>
</div>
