<div class="container signup-div">
  <h1 class="signup-h1">Ready to get hired?</h1>
  <h4 class="signup-h4">Quickly find and apply to thousands of jobs in one-click.</h4>

  <div class="signup-box">
    <div class="col-md-10 p-0 m-0">
        <h2 class="signup-text-h2">Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <%# TODO: Add validations on email and password, if not yet handled by devise %>

          <div class="form-inputs">
            <div class="signup-fname-lname">
            <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first_name", class: "signup-input sigunp-name", placeholder: "First Name" }%>
            <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last_name", class: "signup-input signup-nanme", placeholder: "Second Name" }%>
            </div>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "signup-input", placeholder: "Email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password", class: "signup-input", placeholder: "Password" } %>
            <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: "signup-input", placeholder: "Confirm password" }%>
          </div>

            <p class="terms-conditions">By signing up you agree to our <%= link_to "Terms and Conditions", "/#" %> and <%= link_to "Privacy Policy", "/#" %></p>
          <div class="form-actions text-center pb-3">
            <%= f.button :submit, "Sign up", class: "btn-signup" %>
          </div>
        <% end %>
        <p class="already-an-account">Already have an account? <%= link_to "Log In", new_user_session_path %></p>
      </div>
  </div>
</div>
