<pre class="overflow-x-auto px-4 pb-4 text-xs text-white">
<code class="language-json">
<span><span style="color: var(--shiki-color-text)">{</span></span>
<% questions.each do |question| %>
<% next unless question.payload(job_application)[:interaction] %>
<%= ('<span><span style="color: var(--shiki-color-text)">  </span><span style="color: var(--shiki-token-keyword)">"' + question.attribute + '"</span><span style="color: var(--shiki-token-punctuation)">:</span><span style="color: var(--shiki-color-text)"> </span><span style="color: var(--shiki-color-text)">{</span>').html_safe %>
<%= ('<span><span style="color: var(--shiki-color-text)">  </span><span style="color: var(--shiki-color-text)">  </span><span style="color: var(--shiki-token-keyword)">"selector: "</span><span style="color: var(--shiki-token-punctuation)">:</span><span style="color: var(--shiki-color-text)"> </span><span style="color: var(--shiki-token-string-expression)">"' + question.selector + '"</span><span style="color: var(--shiki-token-punctuation)">,</span></span>').html_safe %>
<%= ('<span><span style="color: var(--shiki-color-text)">  </span><span style="color: var(--shiki-color-text)">  </span><span style="color: var(--shiki-token-keyword)">"type: "</span><span style="color: var(--shiki-token-punctuation)">:</span><span style="color: var(--shiki-color-text)"> </span><span style="color: var(--shiki-token-string-expression)">"' + question.type + '"</span><span style="color: var(--shiki-token-punctuation)">,</span></span>').html_safe %>
<%= ('<span><span style="color: var(--shiki-color-text)">  </span><span style="color: var(--shiki-color-text)">  </span><span style="color: var(--shiki-token-keyword)">"value: "</span><span style="color: var(--shiki-token-punctuation)">:</span><span style="color: var(--shiki-color-text)"> </span><span style="color: var(--shiki-token-string-expression)">"' + question.formatted_answered_value(job_application).to_s + '"</span><span style="color: var(--shiki-token-punctuation)"></span></span>').html_safe %><%= ('<br /><span><span style="color: var(--shiki-color-text)">  },</span></span>').html_safe %>
<% end %>
<span><span style="color: var(--shiki-color-text)">  </span><span style="color: var(--shiki-token-comment)">// ...</span></span>
<span><span style="color: var(--shiki-color-text)">}</span></span><span></span></code>
</pre>