<div id="autocomplete" class="hidden"></div>
<div class="fixed inset-x-0 top-0 z-50 lg:z-30 flex h-14 items-center justify-between gap-12 px-4 transition sm:px-6 lg:px-8 backdrop-blur-sm dark:backdrop-blur bg-white/[var(--bg-opacity-light)] dark:bg-zinc-900/[var(--bg-opacity-dark)]" style="--bg-opacity-light: 0.5; --bg-opacity-dark: 0.2;" data-controller="search">
  <div class="hidden lg:flex">
    <%= link_to opportunities_path, class: "flex h-6 w-24 items-center" do %>
      <%= inline_svg_tag('cheddar_logo_text_1.svg', class: "dark:hidden") %>
      <%= inline_svg_tag('cheddar_logo_text.svg', class: "hidden dark:block") %>
    <% end %>
  </div>
  <div class="absolute inset-x-0 top-full h-px transition bg-zinc-900/7.5 dark:bg-white/7.5"></div>
  <div class="hidden lg:block lg:max-w-md lg:flex-auto">
    <button type="button" class="hidden h-8 w-full items-center gap-2 rounded-full bg-white pl-2 pr-3 text-sm text-zinc-500 ring-1 ring-zinc-900/10 transition hover:ring-zinc-900/20 ui-not-focus-visible:outline-none lg:flex dark:bg-white/5 dark:text-zinc-400 dark:ring-inset dark:ring-white/10 dark:hover:ring-white/20" data-action="click->search#displaySearch">
      <%= inline_svg_tag('template/icons/search.svg') %>
      <span>Find jobs ...</span>
      <kbd class="ml-auto text-2xs text-zinc-400 dark:text-zinc-500">
        <kbd class="font-sans">Ctrl </kbd>
        <kbd class="font-sans">K</kbd>
      </kbd>
    </button>
  </div>
  <div class="flex items-center gap-5 lg:hidden">
    <button type="button" class="flex h-6 w-6 items-center justify-center  rounded-md transition hover:bg-zinc-900/5 dark:hover:bg-white/5" aria-label="Toggle navigation" data-action="click->mobile-nav#toggle">
      <%= inline_svg_tag('template/icons/hamburger_menu.svg') %>
    </button>
    <%= link_to opportunities_path, class: "flex h-6 w-24 items-center" do %>
      <%= inline_svg_tag('cheddar_logo_text_1.svg', class: "dark:hidden") %>
      <%= inline_svg_tag('cheddar_logo_text.svg', class: "hidden dark:block") %>
    <% end %>
  </div>
  <div class="flex items-center gap-5">
    <div class="hidden md:block md:h-5 md:w-px md:bg-zinc-900/10 md:dark:bg-white/15"></div>
    <div class="flex gap-4">
      <div class="contents lg:hidden">
        <button type="button" class="flex h-6 w-6 items-center justify-center rounded-md transition hover:bg-zinc-900/5 ui-not-focus-visible:outline-none lg:hidden dark:hover:bg-white/5" aria-label="Find something..." data-action="click->search#displaySearch">
          <%= inline_svg_tag('template/icons/search.svg') %>
        </button>
      </div>
      <button type="button" class="flex h-6 w-6 items-center justify-center rounded-md transition hover:bg-zinc-900/5 dark:hover:bg-white/5" aria-label="Switch to light theme" data-action="click->theme#toggleTheme">
        <%= inline_svg_tag('template/icons/sun.svg') %>
        <%= inline_svg_tag('template/icons/moon.svg') %>
      </button>
    </div>
    <% if Flipper.enabled?(:log_in_buttons) %>
      <div class="hidden min-[416px]:contents">
        <% if current_user %>
          <%= render 'shared/template/layout/profile_dropdown' %>
        <% else %>
          <%= link_to "Log in", new_template_user_session_path, class: "inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition rounded-full py-1 px-3 text-white dark:text-mauve-400 bg-zinc-900 dark:bg-mauve-400/10 hover:bg-zinc-700 dark:hover:bg-mauve-400/10 dark:ring-1 dark:ring-inset dark:ring-mauve-400/20 dark:hover:text-mauve-300 dark:hover:ring-mauve-300" %>
          <%= link_to "Sign up", new_template_user_registration_path, class: "inline-flex gap-0.5 justify-center overflow-hidden text-sm font-medium transition rounded-full py-1 px-3 text-zinc-700 ring-1 ring-inset ring-zinc-900/10 hover:bg-zinc-900/2.5 hover:text-zinc-900 dark:text-zinc-400 dark:ring-white/10 dark:hover:bg-white/5 dark:hover:text-white" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
