<h5 class="mt-3 mb-3 category-label", style="color: $main-color;"><i class="<%= icon %>"></i> <%= title || resource.titleize %></h5>

<ul id="category-select">
  <div>
    <% resources.each do |resource_name, resource_id, count| %>
      <div class="category-select-item">
        <label for="<%= resource_name %>" class="category-select-item-label">

        <input class="category-select-item-checkbox" type="checkbox" name="<%= resource_name %>" id="<%= resource_id %>" <%= "checked " if params[resource].present? && params[resource].include?(resource_id.to_s) %> data-action="change->select-by-job-type#combinedSearch" data-select-by-job-type-target= "<%= resource %>"> <%= "#{resource_name.titleize} (#{count})" %>
        </label>
      </div>
    <% end %>
  </div>
</ul>

<%# Note - spacing mucked up on job roles because class names are job types %>
