<div class="col-sm-3" id="jobs-index-left-section" data-job-index-toggle-target="leftSection">

  <div class="d-flex justify-content-between bg-white pt-1">
    <h6 id="jobs-index-left-section-title">
      <%= @jobs.count %>
      Jobs
    </h6>
  </div>

  <%# TODO: Add icons to individual list items %>

  <%= render partial: 'filter_category_sidebar_section', locals: {resource: 'seniority', resources: @seniorities, icon: "fa-solid fa-stairs"} %>
  <%= render partial: 'filter_category_sidebar_section', locals: {resource: 'location', resources: @locations, icon: "fa-solid fa-earth-americas"} %>
  <%= render partial: 'filter_category_sidebar_section', locals: {title: 'Job Roles', resource: 'role', resources: @roles, icon: "fa-solid fa-person-chalkboard"} %>
  <%= render partial: 'filter_category_sidebar_section', locals: {title: 'Employment Type', resource: 'employment', resources: @employments, icon: "fa-solid fa-earth-americas"} %>
  <%= render partial: 'filter_category_sidebar_section', locals: {resource: 'company', resources: @companies, icon: "fa-solid fa-building-user"} %>

</div>
