<div class="card job-card mb-2" data-select-by-job-type-target="jobRow">
  <div class="row card-body">
    <%# TODO: Store company logo, use clearbit when we don't have one %>

    <%# Logo %>
    <div class="col-5 d-flex flex-row align-items-center">
      <div class="d-flex justify-content-center align-items-center mx-2">
        <%= link_to company_path(job.company), target: "_blank" do %>
          <%= image_tag("https://logo.clearbit.com/#{job.company.company_website_url}", onerror: "this.src='https://i.pinimg.com/736x/ec/d9/c2/ecd9c2e8ed0dbbc96ac472a965e4afda.jpg'", style: "width: 60px; height: 60px; padding-right: 0.5rem;") %>
        <% end %>
      </div>

      <%# Job Title, Company, Location %>
      <div class="d-flex flex-column justify-content-center align-items-start" data-role="<%= job.job_title %>">
        <%= link_to job_path(job), target: "_blank" do %>
          <strong><%= job.job_title.truncate(35) %></strong>
        <% end %>

        <%= link_to company_path(job.company), target: "_blank" do %>
          <strong class="text-sm"><%= job.company.company_name %></strong>
        <% end %>

        <% if job.location.present? %>
          <div class="text-sm"><%= job.location %></div>
        <% end %>
      </div>
    </div>

    <%# Job Details %>
    <div class="col-7 d-flex flex-row justify-content-between align-items-center">

      <%# Salary etc. %>
      <div class="d-flex flex-column align-items-end justify-space-between text-sm">
        <div class="salaryBudget"><%= job.salary ? "£#{number_with_delimiter(job.salary, delimiter: ',')}" : "£ ---" %></div>
        <div>Permanent • Hybrid</div>
        <div><%= job.created_at.strftime("%d/%m") %> ----- <%= job.application_deadline ? job.application_deadline.strftime("%d/%m") : "n/a" %></div>
      </div>

      <%# Net Zero Rating %>
      <div class="d-flex flex-column align-items-center justify-content-center text-sm">
        <div class="climate-rating">climate neutral</div>
      </div>

      <%# Ease of Applying %>
      <div class="d-flex flex-column align-items-center justify-content-center text-sm">
        <div class="apply-rating">easy</div>
      </div>


      <%# Add job to basket %>
      <div class="d-flex align-items-center justify-content-center me-3">
        <% if @saved_job_ids.include?(job.id) %>
          <%= link_to saved_job_path(job.saved_job_ids), data: {turbo_method: :delete} do %>
            <i class="fa-solid fa-bookmark"></i>
          <% end %>
        <% else %>
          <%= link_to job_saved_jobs_path(job), data: {turbo_method: :post} do %>
            <i class="fa-regular fa-bookmark"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
