<div class="d-flex flex-column justify-content-center align-items-start" data-role="<%= job.title %>">
  <%= link_to job_path(job), target: "_blank" do %>
    <strong><%= job.title.truncate(35) %></strong>
  <% end %>

  <%= link_to company_path(job.company), target: "_blank" do %>
    <strong class="text-sm"><%= job.company.name %></strong>
  <% end %>

  <div class="text-sm">
    <% if job.remote || job.locations.empty? %>
      Remote
    <% else %>
      <%= job.locations.map(&:city).join(' | ') %>
    <% end %>
    <%= " | #{job.countries.first.name}" if job.countries.size == 1 %>
  </div>
</div>
