<div class="col-sm-3" id="jobs-index-left-section" data-job-index-toggle-target="leftSection">

  <div class="d-flex justify-content-between bg-white pt-1">
    <h6 id="jobs-index-left-section-title">
      <%= @jobs.count %>
      Jobs
    </h6>
  </div>

  <%= render partial: 'sidebar_section', locals: {resource: 'seniority', resources: @seniorities} %>

  <h5 class="mt-4 mb-3", style="color: #0b8aa7ff;"><i class="fa-solid fa-earth-americas"></i> Location</h5>
  <ul id="locations-select">
    <div>
      <% @locations.each do |location, count| %>
        <div class="locations-select-item">
          <label for="<%= location %>" class="locations-select-item-label">
          <input class="locations-select-item-checkbox" type="checkbox" name="<%= location %>" id="<%= location.split(', ').first.downcase.gsub(' ', '_') %>" <%= "checked " if params[:locations].present? && params[:locations].include?(location.split(', ').first.downcase.gsub(' ', '_')) %> data-action="change->select-by-job-type#combinedSearch" data-select-by-job-type-target="location">
          <%= "#{location} (#{count})" %>
          </label><br>
        </div>
      <% end %>
    </div>
  </ul>

  <%# TODO: Add icons to individual list items %>
  <%# LHS Section - Search by Job Type %>
  <h5 class="mt-4 mb-3", style="color: #0b8aa7ff;"><i class="fa-solid fa-person-chalkboard"></i> Job Roles</h5>
  <ul id="job-types-select">
    <div class="job-types-select-item">
      <% @roles.each do |role, count| %>
        <div class="job-types-select-item">
          <label for="<%= role %>" class="job-types-select-item-label">
          <input class="job-types-select-item-checkbox" type="checkbox" name="<%= role %>" id="<%= role %>" <%= "checked " if params[:roles].present? && params[:roles].include?(role) %> data-action="change->select-by-job-type#combinedSearch" data-select-by-job-type-target="role">
          <%= "#{role.split('_').map(&:capitalize).join(' ')} (#{count})" %>
          </label>
        </div>
      <% end %>
    </div>
  </ul>
  <h5 class="mt-4 mb-3", style="color: #0b8aa7ff;"><i class="fa-solid fa-earth-americas"></i> Employment Type</h5>
  <ul id="employments-select">
    <div>
      <% @employments.each do |employment, count| %>
        <div class="employments-select-item">
          <label for="<%= employment %>" class="employments-select-item-label">
          <input class="employments-select-item-checkbox" type="checkbox" name="<%= employment %>" id="<%= employment %>" <%= "checked " if params[:employments].present? && params[:employments].include?(employment) %> data-action="change->select-by-job-type#combinedSearch" data-select-by-job-type-target="employment">
          <%= "#{employment} (#{count})" %>
          </label><br>
        </div>
      <% end %>
    </div>
  </ul>
  <%# TODO: Add icons to individual list item %>
  <h5 class="mt-4 mb-3", style="color: #0b8aa7ff;"><i class="fa-solid fa-building-user"></i> Companies</h5>
  <ul id="companies-select">
    <div>
      <% @companies.each do |company, count| %>
        <div class="companies-select-item">
          <label for="<%= company.company_name %>" class="companies-select-item-label">
          <input class="companies-select-item-checkbox" type="checkbox" name="<%= company.company_name %>" id="<%= company.id %>" <%= "checked " if params[:companies].present? && params[:companies].include?(company.id.to_s) %> data-action="change->select-by-job-type#combinedSearch" data-select-by-job-type-target="company">
          <%= "#{company.company_name} (#{count})" %>
          </label><br>
        </div>
      <% end %>
    </div>
  </ul>
</div>
