<h5 class="mt-4 mb-3", style="color: #0b8aa7ff;"><i class="fa-solid fa-stairs"></i> <%= resource.titleize %></h5>

<ul id="<%= resource.pluralize %>-select">
  <div>
    <% resources.each do |resource, count| %>
      <div class="<%= resource.pluralize %>-select-item">
        <label for="<%= resource %>" class="<%= resource.pluralize %>-select-item-label">

        <input class="<%= resource.pluralize %>-select-item-checkbox" type="checkbox" name="<%= resource %>" id="<%= resource.gsub(' ', '_') %>" <%= "checked " if params[resource.pluralize.to_sym].present? && params[resource.pluralize.to_sym].include?(resource) %> data-action="change->select-by-job-type#combinedSearch" data-select-by-job-type-target= "<%= resource %>"> <%= "#{resource.gsub('-', ' ')} (#{count})" %>
        </label><br>
      </div>
    <% end %>
  </div>
</ul>
