<div class="container" data-controller="select-by-job-type styling-selected-job">
  <div class="search-container d-flex justify-content-center align-items-center">
    <%= render 'search' %>
  </div>
    <div class="row d-flex justify-content-between" data-controller="job-index-toggle">

      <%= render 'filter_category_sidebar' %>

      <%# RHS Section Divider %>
      <div class="col-sm-9 p-0" id="jobs-index-right-section" data-job-index-toggle-target="rightSection">
        <%= form_tag apply_jobs_path, method: :post do %>
          <div class="sticky-top bg-white">
            <div class="d-flex justify-content-end align-items-center pt-1">
              <div class="mb-2">
                <%= submit_tag "Shortlist 0 Jobs", id: "apply-button", "data": {job_index_toggle_target: "applyButton"}, class: "btn btn-apply" %>
              </div>
            </div>

          <%# RHS Section - Job Table %>
          <div class="job-cards-container pt-0" data-controller="load-more">

            <%= render partial: 'job_card', collection: @jobs, as: :job %>

            <div class="digg_pagination">
              <div class="page_info">
                <%= page_entries_info @jobs %>
              </div>

              <%= will_paginate @jobs, container: false %>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
