<div class="container">
  <div class="header-photos pt-1">
    <%= link_to image_tag('https://source.unsplash.com/random/900%C3%97700/?landscape', alt: 'cake', style: "height: 300px; width: 24%; overflow: hidden;") %>
    <%= link_to image_tag('https://source.unsplash.com/random/900%C3%97700/?puppy', alt: 'cake', style: "height: 300px; width: 24%; overflow: hidden;") %>
    <%= link_to image_tag('https://source.unsplash.com/random/900%C3%97700/?cat', alt: 'cake', style: "height: 300px; width: 24%; overflow: hidden;") %>
    <%= link_to image_tag('https://source.unsplash.com/random/900%C3%97700/?country', alt: 'cake', style: "height: 300px; width: 24%; overflow: hidden;") %>
  </div>
  <div class="profile-heading">
    <div class="avatar ms-4", style="margin-bottom: 40px;">
      <div>
        <% if current_user.photo.key %>
          <%= image_tag current_user.photo, class: "avatar-large", style: "margin-top: -55px; border: 2px solid #fff;" %>
        <% else %>
          <%= image_tag "avatar_default.png", class: "avatar-large", style: "margin-top: -55px; border: 2px solid #fff;" %>
        <% end %>
      </div>
      <div class="socials">
        <% if current_user.linkedin_profile.present? %>
            <%= link_to current_user.linkedin_profile, target: "_blank", style: "color: #0a66c2" do %>
              <i class="fa-brands fa-linkedin"></i>
            <% end %>
        <% end %>

        <% if current_user.github_profile_url.present? %>
            <%= link_to current_user.github_profile_url, target: "_blank", style: "color: black" do %>
              <i class="fa-brands fa-github"></i>
            <% end %>
        <% end %>

        <% if current_user.website_url.present? %>
            <%= link_to current_user.website_url, target: "_blank" do %>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="row mt-4 text-sm">
      <div class="col-5">
        <h4 class="fw-semibold"><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h4>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-cheese me-1"></i>
          <div>Subscriber</div>
        </div>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-location-dot me-1"></i>
          <div> Chichester, West Sussex, United Kingdom</div>
        </div>
      </div>
      <div class="col-7">
        <div class="applications-summary d-flex justify-content-start">

          <div class="applications-count d-flex flex-column align-items-center mr-5", style="width: 150px;">
            <div class="fs-6">Last 4 weeks</div>
            <div class="fs-1 fw-semibold"><%= current_user.job_applications.count %></div>
            <div>Total Applications</div>
          </div>

          <div class="applications-calendar text-sm" style="width: 350px;">
            <table class="table">
              <thead>
                <tr>
                  <% Date::DAYNAMES.rotate(1).each do |day_name| %>
                    <th scope="col"><%= day_name[0] %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @calendar_days.keys.each_slice(7) do |week_days| %>
                  <tr>
                    <% week_days.each do |date| %>
                      <% if @applications_this_month.any? { |app| app.created_at.to_date == date } %>
                        <td class="has-application <%= 'text-danger' if date == Date.today %>", style="background-color: blue;">
                          <%= date.day %>
                        </td>
                      <% else %>
                        <td>
                          <%= date.day %>
                        </td>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="applications-breakdown">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="profile-scroll-boxes">
    <div class="scroll-box">
      <div>
        <h3 class="text-center">My Details</h3>
        <%= link_to edit_user_registration_path(current_user), data: {turbo_method: :post} do %>
            <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
      </div>

      <div id="contact-info">
        <h5>Contact Information</h5>

        <% if current_user.address_first.present?|| current_user.address_second.present? || current_user.city.present? || current_user.post_code.present? %>
          <h6>Address</h6>
          <p>
            <%= "#{current_user.address_first}" if current_user.address_first.present? %>
            <%=", #{current_user.address_second}" if current_user.address_second.present? %>
            <%= ", #{current_user.city}" if current_user.city.present? %>
          </p>
          <p><%= current_user.post_code if current_user.post_code.present? %></p>
        <% end %>

        <h6>Email</h6>
        <p><%= current_user.email %></p>
        <% if current_user.phone_number.present? %>
          <h6>Phone</h6>
          <p><%= current_user.phone_number %></p>
        <% end %>
      </div>

      <div id="education">
        <h5>Education</h5>
        <%= link_to new_education_path(current_user), data: {turbo_method: :post} do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>

        <% current_user.educations.each do |education| %>
          <div class="education-card">
            <% university_hash = Education::UNIVERSITIES.find { |hash| hash.key?(education.university) } %>
            <% university_domain = university_hash[education.university].strip %>
            <%= image_tag("https://logo.clearbit.com/#{university_domain}", onerror: "this.src='https://cdn-icons-png.flaticon.com/512/1656/1656819.png'", style: "width: 60px; height: 60px;") %>

            <div class="" id="education-details">
              <h6><%= education.university %></h6>
              <p style="color:black"><%= education.degree %> in <%= education.field_study %></p>
              <p>Graduation Year: <%= education.graduation_year %></p>
            </div>
          </div>
        <% end %>
      </div>

      <div id="documents">
        <% if current_user.resume.url.present? || current_user.cover_letter_templates.present? %>
          <h5>Documents</h5>

          <% if current_user.resume.url.present? %>
            <%= link_to "CV/Résumé", current_user.resume.url, class: "btn-apply", target: "_blank" %>
          <% end %>

          <% if current_user.cover_letter_templates.present? %>
            <% current_user.cover_letter_templates.each do |cover_letter| %>
              <%= link_to cover_letter.filename, cover_letter.url, class: "btn-apply", target: "_blank" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="scroll-box">
      <%# <h3 class="text-center"><%= link_to "My Applications", job_applications_path, style: "color: black;" %>

      <div class="d-flex justify-content-center">
        <h3>My Applications</h3>
        <%= link_to job_applications_path do %>
          <i class="arrow-right fa-solid fa-right-long"></i>
        <% end %>
      </div>

      <% @job_applications.each do |application| %>
        <div class="application-card-small">
          <%= image_tag("https://logo.clearbit.com/#{application.job.company.company_website_url}", onerror: "this.src='https://i.pinimg.com/736x/ec/d9/c2/ecd9c2e8ed0dbbc96ac472a965e4afda.jpg'", style: "width: 60px; height: 60px;") %>

          <div class="profile-application-details">
            <p><strong><%= application.job.job_title %></strong></p>
            <p><%= application.job.company.company_name %><p>
            <p><%= application.created_at %></p>
          </div>

          <% if application.status == "Application pending" %>
            <div class="semi-donut" style="--percentage: 50; --fill:#FFC300">Pending</div>
          <% elsif application.status == "Applied" %>
            <div class="semi-donut" style="--percentage: 100; --fill:#6007C6">Applied</div>
          <% end %>

        </div>
      <% end %>
    </div>
  </div>
</div>
