<div class="container forgot-password-div">
  <div class="forgot-password-box">
    <div class="col-md-10 p-0 m-0 "> <!-- Adjust the column size as needed -->
        <h2 class="forgot-password-h2">Forgot your password?</h2>
      <div class="login-box text-center rounded-1">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "rounded-4", placeholder: "Email"} %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions", class: "form-actions" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
