<details class="application-form mb-3" open>

  <summary class="pb-1" style="display: block">
    <h2><%= index + 1 %>. <%= job_application.job.title %> - <%= job_application.job.company.name %></h2>
  </summary>

  <div class="text-sm mb-2"><span class="required-asterisk">*</span> Required fields</div>

  <%= simple_form_for job_application, html: { class: 'needs-validation', 'data-all-application-forms-target': "form"} do |f| %>
  <%= hidden_field_tag :job_id, job_application.job.id %>
  <% core_field_count = job_application.application_responses.count { |field| field['core_field'] }%>

    <%# Dynamically creates form elements based on application_criteria - converts to fields ready for application responses. %>
    <% job_application.application_responses.each_with_index do |response, response_index| %>

      <% if response_index == 0 %>
        <details class="core-app-details" closed>
        <summary class="mb-2 bolded fs-5 section-title">Personal information</summary>
          <div class="d-flex flex-row justify-content-between">
      <% end %>


      <%= f.simple_fields_for "application_responses", response do |ff| %>
          <div class="mb-3
          <%= response.field_name == "first_name" || response.field_name == "last_name" ? "d-flex flex-column flex-fill form-group row" : "form-group row" %>
          <%= response.field_name == "first_name" ? "me-2" : "" %>"
          <%= response.field_name == "last_name" ? "ms-2" : "" %>>

            <label class="col-form-label text-sm fw-medium
              <%= "d-none" if response.field_name == 'location_click' %>">
              <span class="required-asterisk"><%= "*" if response.required %></span>
            </label>

            <% case ff.object.interaction %>
            <% when "input" %>
              <div class="col-sm-12 mr-2">
                <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' }, label: false %>
                <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' }, label: false %>
                <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' }, label: false %>
                <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' }, label: false %>
                <%= ff.input :field_value, required: response.required, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-4", data: { label: response.field_name } } %>
              </div>

            <% when "upload" %>
              <% if response.field_name == 'resume' %>
                <div class="col-sm-12 mr-2">
                  <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :field_value, required: response.required, label_html: { class: "d-none"}, input_html: { class: "rounded-4", data: { label: response.field_name, response_input_target: "input" }, value: current_user.resume.attached? ? current_user.resume.filename : "No CV / resume attached", disabled: true }, wrapper_html: { class: 'wrapper-mb-0' } %>
                </div>

              <% elsif ['cover_letter_', 'cover_letter'].include?(response.field_name) %>
                <div class="col-sm-12 mr-2", data-controller="template-select">
                  <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>

                  <% templates = ["Write from Scratch"] %>
                  <% current_user.cover_letter_templates.each { |cover_letter| templates << cover_letter.filename } %>

                  <%= ff.input :field_value, as: :select, required: response.required, collection: templates, label: false, input_html: { class: "rounded-4", data: { label: response.field_name, response_input_target: "input", action: "change->template-select#select"} }, wrapper_html: { class: 'wrapper-mb-0' } %>

                  <textarea id=<%= "coverLetterEditor-#{job_application.job.id}" %> class = "d-none" data-template-select-target="editor" data-all-application-forms-target="editor"></textarea>
                  <%= ff.hidden_field :field_value, id: "hiddenCoverLetterField-#{job_application.job.id}", data: { all_application_forms_target: "content" } %>
                </div>
              <% elsif ['photo'].include?(response.field_name) %>
                <div class="col-sm-12 mr-2">
                  <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                  <%= ff.input :field_value, required: response.required, label_html: { class: "d-none"}, input_html: { class: "rounded-4", data: { label: response.field_name, response_input_target: "input" }, value: current_user.photo.key.present? ? cl_image_path(current_user.photo.key) : "Upload a photo", disabled: true }, wrapper_html: { class: 'wrapper-mb-0' } %>
                </div>
              <% end %>

            <% when "combobox" %>
              <div class="col-sm-12">
                <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_value, required: response.required, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-4", data: { label: response.field_name } } %>
              </div>

            <% when "radiogroup" %>
              <div class="col-sm-12">
                <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_value, required: response.required, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-4", data: { label: response.field_name, response_input_target: "input"} } %>
              </div>

            <% when "listbox" %>
              <div class="col-sm-12<%= " d-none" if response.field_name == 'location_click' %>">
                <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_value, as: :boolean, required: response.required, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-4", data: { label: response.field_name, response_input_target: "input"} } %>
              </div>

            <% when "checkbox" %>
              <div class="col-sm-12">
                <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <% field_options = JSON.parse(response.field_options) %>
                <%= ff.input :field_value, as: :check_boxes, collection: field_options, legend_tag: false, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-4", data: { label: response.field_name, response_input_target: "input"} } %>
              </div>

            <% when "select" %>
              <div class="col-sm-12">
                <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                <% field_options = JSON.parse(response.field_options) %>
                <%= ff.input :field_value, as: :select, required: response.required, collection: field_options, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-4", data: { label: response.field_name, response_input_target: "input"} } %>

                <%# TODO: Add stimulus controller to be able to click on core details and go to edit page if not filled in %>
                <%# TODO: Update schema so that field_options is an array rather than string to prevent current need for JSON.parse %>
              </div>
            <% end %>
            <% if response.field_name == "last_name" || response.field_name == "full_name" %><%# This is very dodgy code %>
              </div>
            <% end %>
          </div>
        <% end %>


      <% if response_index == core_field_count - 1 %> <%# This is the last CORE APPLICATION FIELD%>
        </details>

        <details class="core-app-details" open> <%# Add a new details tag for additional details %>
          <summary class="mb-2 bolded fs-5 section-title">Additional requirements</summary> <%# Close the additional details tag %>
      <% end %>

      <% if response_index + 1 == job_application.application_responses.length %>
        </details>
      <% end %>
    <% end %>

    <div class="d-flex justify-content-end align-items-end d-none">
      <%= f.submit 'Submit this app', class: 'btn btn-cheddar-secondary', disabled: !current_user.resume.attached? %>
    </div>
  <% end %>
</details>
