<%= provide(:title, 'Application Process - Specific fields') %>
<article class="flex w-2/3 mx-auto h-full flex-col pb-5 pt-8" data-controller="mandatory-fields-only">
  <div class="flex items-center justify-end">
    <%# Link to original post to be able to compare accuracy of ApplicationCriteria %>
    <%= link_to @job_application.job.posting_url, target: "_blank", class: "text-sm text-gray-900 dark:text-white pe-6 flex items-center" do %>
      <span class="me-1">Original post</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    <% end %>

    <button type="" <%= mandatory_fields_only_disability(@job_application) %> class="<%= mandatory_fields_only_disability_cursor_class(@job_application) %>relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-gray-200 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2" role="switch" aria-checked="false" data-mandatory-fields-only-target="button" data-action="mandatory-fields-only#toggleHidden">
      <span aria-hidden="true" class="pointer-events-none inline-block h-5 w-5 translate-x-0 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out" data-mandatory-fields-only-target="innerRound"></span>
    </button>

    <%# Show only mandatory fields %>
    <span class="ml-3 text-sm" id="mandatory_fields_only">
      <span class="font-medium text-gray-900">Hide optional fields</span>
      <span class="text-gray-500"><%= mandatory_fields_only_label(@job_application) %></span>
    </span>
  </div>

  <%# Render step indicators and application forms %>
  <div class="grid max-w-8xl sm:grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <%= render 'step_indicators' %>
    <%= render 'additional_information_form', job_application: @job_application, last_applicant_answers: @last_applicant_answers %>
    <div class="mt-8 flex"></div>
      <%= link_to "Remove this application & Continue", application_process_job_application_path(@application_process, @job_application), data: {turbo_method: :delete}, method: :delete, class: "text-sm font-semibold text-indigo-600 dark:text-indigo-400" %>
    </div>
  </div>
</article>