<%= provide(:title, 'New job applications') %>

<script>
  const applicationCarouselElement = document.querySelector('#applicationCarousel')

  const carousel = new bootstrap.Carousel(applicationCarouselElement, {
    interval: 0,
    touch: false
  })
</script>

<script type="text/javascript" src="/assets/tinymce.js"></script>

<div class="container carousel-container mt-3 col-sm-6" data-controller="all-application-forms" data-all-application-forms-user-value="<%= current_user.id %>" data-all-application-forms-jobs-count="<%= @selected_jobs.size %>">
  <div class="d-flex justify-content-between align-items-center sticky-top bg-white pt-2 pb-4">

    <%= render 'job_application_summary' %>

    <div class="d-flex justify-content-end align-items-center">
      <div class="btn btn-apply mt-1 <%= 'disabled' unless current_user.resume.attached? %>"
           data-all-application-forms-target="button"
           data-action="click->all-application-forms#submitAllForms">Apply to All
      </div>
    </div>

  </div>

  <%# Iterate over each selected job %>
  <div id="applicationCarousel" class="carousel slide carousel-fade">
    <div class="carousel-inner px-5">
      <% @job_applications.each_with_index do |job_application, index| %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>">
          <%= render partial: 'job_application_form', locals: {job_application: job_application, index: index } %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev my-auto" type="button" data-bs-target="#applicationCarousel" data-bs-slide="prev" style="width: 7%; height: 90%; border-left: 1px solid #ddd;">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="fill: black"></span>
      <i class="fa-solid fa-chevron-left fs-1" style="color: #143459"></i>
      <span class="visually-hidden" style="color: #143459">Previous</span>
    </button>
    <button class="carousel-control-next my-auto" type="button" data-bs-target="#applicationCarousel" data-bs-slide="next" style="width: 7%; height: 90%; border-right: 1px solid #ddd;">
      <i class="fa-solid fa-chevron-right fs-1" style="color: #143459"></i>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden" style="color: #143459">Next</span>
    </button>
  </div>
  <%= render 'loading' %>

</div>



<%# TODO: Add d-none to subsidiary application forms %>
<%# TODO: Add company name to each job application form %>
<%# TODO: Update surfacing of form options to check correct - validate against actual forms %>

<%# TODO: Add to core details so additional requirements appears less %>
<%# TODO: Add mark done/complete to each form %>
<%# TODO: Remove pill formatting and update formatting of form %>

<%# TODO: Truncate/reword long-worded fields %>
<%# TODO: Remove additional fields which don't require user input %>
<%# TODO: Make CV field clickable to review CV %>

<%# TODO: Add primary key tagging to reconcile form inputs %>

<%# TODO: Add ability that editing one form field edits others %>
<%# TODO: Add ability to upload CV directly in page %>
<%# TODO: Add ability to update database variables from form inputs %>

<%# TODO: Make forms a carousel rather than scroll %>

<%# TODO: Highlight which company you're on depending on position in the page %>
<%# TODO: Highlight which applications you've confirmed before sending %>
