<%= provide(:title, 'New job applications') %>
<% if true %>
<!-- <article class="flex w-4/5 mx-auto h-full flex-col pb-10 pt-16"> -->
<article class="flex w-4/5 mx-auto h-full flex-col grid max-w-7xl sm:grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
  <!-- <div class="flow-root w-1/4"> -->
  <div class="xl:sticky xl:top-[4.75rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.75rem)] xl:flex-none xl:overflow-y-auto xl:py-0 xl:pr-6">
    <ul role="list" class="">
      <li>
        <div class="relative pb-8">
          <span class="absolute right-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div class="flex min-w-0 flex-1 justify-end text-right space-x-4 pt-1.5">
              <div>
                <p class="text-sm text-gray-500">Common fields</a></p>
              </div>
            </div>
            <div>
              <span class="flex h-8 w-8 items-center justify-center rounded-full bg-green-500 ring-8 ring-white">
                <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="relative pb-8">
          <span class="absolute right-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div class="flex min-w-0 flex-1 justify-end text-right space-x-4 pt-1.5">
              <div>
                <p class="text-sm text-gray-500">
                  Junior Model Developer<br/>
                  <span class="font-medium text-gray-900">
                    hyperexponential
                  </span>
                </p>
              </div>
            </div>
            <div>
              <span class="flex h-8 w-8 items-center justify-center rounded-full bg-blue-500 ring-8 ring-white">
                <svg class="size-5 text-white" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
                </svg>                
              </span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="relative pb-8">
          <span class="absolute right-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div class="flex min-w-0 flex-1 justify-end text-right space-x-4 pt-1.5">
              <div>
                <p class="text-sm text-gray-500">Product Reliability Engineer, New Grad
                  <br/>
                  <span class="font-medium text-gray-900">
                    Palantir Technologies
                  </span>
                </p>
              </div>
            </div>
            <div>
              <span class="flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 ring-8 ring-white">
              </span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="relative pb-8">
          <span class="absolute right-4 top-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
          <div class="relative flex space-x-3">
            <div class="flex min-w-0 flex-1 justify-end text-right space-x-4 pt-1.5">
              <div>
                <p class="text-sm text-gray-500">Graduate/ Junior Software Engineer (Must be UK based)
                  <br/>
                  <span class="font-medium text-gray-900">
                    PolyAI
                  </span>
                </p>
              </div>
            </div>
            <div>
              <span class="flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 ring-8 ring-white">
              </span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="relative pb-8">
          <div class="relative flex space-x-3">
            <div class="flex min-w-0 flex-1 justify-end text-right space-x-4 pt-1.5">
              <div>
                <p class="text-sm text-gray-500">
                  <span class="font-medium text-gray-900">
                    Review
                  </span>
                </p>
              </div>
            </div>
            <div>
              <span class="flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 ring-8 ring-white">
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <%= simple_form_for(current_user, as: current_user, url: registration_path(current_user), html: { method: :put, class: "md:col-span-2" }) do |f| %>
    <div class="grid gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
      <div class="sm:col-span-3">
        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">First name</label>
        <div class="mt-2">
          <%= f.input :first_name,
            required: true,
            label: false,
            autofocus: true,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Last name</label>
        <div class="mt-2">
          <%= f.input :last_name,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Email address</label>
        <div class="mt-2">
          <%= f.input :email,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="preferred-pronoun-select" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">What are your preferred pronouns?</label>
        <div class="mt-2">
          <%= f.input :preferred_pronoun_select,
            collection: ['He/Him', 'She/Her', 'They/Them', 'Other', 'Prefer not to say'],
            required: true,
            label: false,
            autofocus: false,
            type: :select,
            input_html: { class: "block w-full rounded-md border-0 py-1.5 bg-white/5 dark:hover:bg-zinc-900 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6" }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="preferred-pronoun-text" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">If other then please specify:</label>
        <div class="mt-2">
          <%= f.input :preferred_pronoun_text,
            required: false,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">First name</label>
        <div class="mt-2">
          <%= f.input :first_name,
            required: true,
            label: false,
            autofocus: true,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Email</label>
        <div class="mt-2">
          <%= f.input :email,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="phone_number" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Phone Number</label>
        <div class="mt-2">
          <%= f.input :phone_number,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="address-first" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Address first</label>
        <div class="mt-2">
          <%= f.input :address_first,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="address-second" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Address second</label>
        <div class="mt-2">
          <%= f.input :address_second,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="post-code" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Post code</label>
        <div class="mt-2">
          <%= f.input :post_code,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="city" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">City</label>
        <div class="mt-2">
          <%= f.input :city,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="linkedin-profile" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Linkedin profile</label>
        <div class="mt-2">
          <%= f.input :linkedin_profile,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="github-profile-url" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Github profile url</label>
        <div class="mt-2">
          <%= f.input :github_profile_url,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="website-url" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Website url</label>
        <div class="mt-2">
          <%= f.input :website_url,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="salary-expectation-figure" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">What is you annual salary expectation?</label>
        <div class="mt-2">
          <%= f.input :salary_expectation_figure,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="right-to-work" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Do you have the right to work in the UK without a visa?</label>
        <div class="mt-2">
          <%= f.input :right_to_work,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="notice-period" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">What is your notice period in weeks?</label>
        <div class="mt-2">
          <%= f.input :notice_period,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
      <div class="col-span-full">
        <label for="resume" class="block text-sm font-medium leading-6 text-gray-900 dark:text-white">Resume</label>
        <div class="mt-2">
          <%= f.input :resume,
            required: true,
            label: false,
            autofocus: false,
            input_html: { class: 'block w-full rounded-md border-0 py-1.5 dark:bg-white/5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-white/10 placeholder:text-gray-400 dark:placeholder:text-gray-99 focus:ring-1 focus:ring-inset focus:ring-indigo-600 dark:focus:ring-indigo-500 sm:text-sm sm:leading-6' }
          %>
        </div>
      </div>
    </div>
    <div class="mt-8 flex">
      <%= link_to "Save", Job.first.posting_url, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white dark:text-gray-900 shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", target: "_blank" %>
    </div>
  <% end %>
</article>
<% else %>
<script type="text/javascript" src="/assets/tinymce.js"></script>
<script>
  const applicationCarouselElement = document.querySelector('#applicationCarousel')

  const carousel = new bootstrap.Carousel(applicationCarouselElement, {
    interval: 0,
    touch: false
  })
</script>

<div class="container carousel-container mt-3 col-sm-6" data-controller="all-application-forms" data-all-application-forms-user-value="<%= current_user.id %>" data-all-application-forms-jobs-count="<%= @selected_jobs.size %>">
  <div class="d-flex justify-content-between align-items-center sticky-top bg-white pt-2 pb-4">

    <%= render 'job_application_summary' %>

    <div class="d-flex justify-content-end align-items-center">
      <div class="btn btn-apply mt-1 <%= 'disabled' unless current_user.resume.attached? %>"
           data-all-application-forms-target="button"
           data-action="click->all-application-forms#submitAllForms">Apply to All
      </div>
    </div>

  </div>

  <%# Iterate over each selected job %>
  <div id="applicationCarousel" class="carousel slide carousel-fade">
    <div class="carousel-inner px-5">
      <% @job_applications.each_with_index do |job_application, index| %>
        <div class="carousel-item <%= index == 0 ? "active" : "" %>">
          <%= render partial: 'job_application_form', locals: {job_application: job_application, index: index } %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev my-auto" type="button" data-bs-target="#applicationCarousel" data-bs-slide="prev" style="width: 7%; height: 90%; border-left: 1px solid #ddd;">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="fill: black"></span>
      <i class="fa-solid fa-chevron-left fs-1" style="color: #143459"></i>
      <span class="visually-hidden" style="color: #143459">Previous</span>
    </button>
    <button class="carousel-control-next my-auto" type="button" data-bs-target="#applicationCarousel" data-bs-slide="next" style="width: 7%; height: 90%; border-right: 1px solid #ddd;">
      <i class="fa-solid fa-chevron-right fs-1" style="color: #143459"></i>
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden" style="color: #143459">Next</span>
    </button>
  </div>
  <%= render 'loading' %>

</div>
<% end %>



<%# TODO: Add d-none to subsidiary application forms %>
<%# TODO: Add company name to each job application form %>
<%# TODO: Update surfacing of form options to check correct - validate against actual forms %>

<%# TODO: Add to core details so additional requirements appears less %>
<%# TODO: Add mark done/complete to each form %>
<%# TODO: Remove pill formatting and update formatting of form %>

<%# TODO: Truncate/reword long-worded fields %>
<%# TODO: Remove additional fields which don't require user input %>
<%# TODO: Make CV field clickable to review CV %>

<%# TODO: Add primary key tagging to reconcile form inputs %>

<%# TODO: Add ability that editing one form field edits others %>
<%# TODO: Add ability to upload CV directly in page %>
<%# TODO: Add ability to update database variables from form inputs %>

<%# TODO: Make forms a carousel rather than scroll %>

<%# TODO: Highlight which company you're on depending on position in the page %>
<%# TODO: Highlight which applications you've confirmed before sending %>
