<%= provide(:title, 'New Job Applications') %>

<%# TODO: Add d-none to subsidiary application forms %>
<%# TODO: Add company name to each job application form %>
<%# TODO: Update surfacing of form options to check correct - validate against actual forms %>

<%# TODO: Add to core details so additional requirements appears less %>
<%# TODO: Add mark done/complete to each form %>
<%# TODO: Remove pill formatting and update formatting of form %>

<%# TODO: Truncate/reword long-worded fields %>
<%# TODO: Remove additional fields which don't require user input %>
<%# TODO: Make CV field clickable to review CV %>
<%# TODO: Hide additional requirements if empty %>

<%# TODO: Add primary key tagging to reconcile form inputs %>

<%# TODO: Add ability that editing one form field edits others %>
<%# TODO: Add ability to upload CV directly in page %>
<%# TODO: Add ability to update database variables from form inputs %>

<%# TODO: Make forms a carousel rather than scroll %>

<%# TODO: Surface Cover Letter input %>

<%# TODO: Submit form without reloading page - surface loading screen %>

<%# TODO: Highlight which company you're on depending on position in the page %>
<%# TODO: Highlight which applications you've confirmed before sending %>

<%# TODO: Add did you know pop up - you can check the actual application forms... %>
<%# TODO: Add CheddarGPT assistance for long-text inputs/cover letter %>

<div class="container mt-3 col-sm-6" data-controller="all-application-forms" data-all-application-forms-user-value="<%= current_user.id %>" data-all-application-forms-jobs-count="<%= @selected_jobs.size %>">
  <div class="d-flex justify-content-between align-items-center sticky-top bg-white">
    <div class="companies d-flex flex-column justify-content-start">
      <%# Dynamically load the company logos based on selected jobs %>
      <p class="mb-1">Current applications:</p>

      <div class="company-apply-summary bg-body-secondary p-2 d-flex">
        <% @selected_jobs.each_with_index do |job, index| %>
          <div><%= index + 1 %></div>
          <%= link_to image_tag("https://logo.clearbit.com/#{job.company.company_website_url}?size=60px", onerror: "this.src='https://i.pinimg.com/736x/ec/d9/c2/ecd9c2e8ed0dbbc96ac472a965e4afda.jpg'", class: 'img-fluid'), job.job_posting_url, target: '_blank', class: 'apply-company-logo' %>
        <% end %>
      </div>
    </div>

    <div class="d-flex justify-content-end align-items-center">
      <div class="btn btn-apply mt-1 <%= 'disabled' unless current_user.resume.attached? %>"
           data-all-application-forms-target="button"
           data-action="click->all-application-forms#submitAllForms">Apply to All
      </div>
    </div>

  </div>

  <%# Iterate over each selected job %>
  <div class="all-application-forms m-auto" data-controller="response-input">
    <% @job_applications.each_with_index do |job, index| %>
      <details class="application-form bg-body-secondary mb-3" open>
        <summary class="pb-1" style="display: block"><h2><%= index + 1 %>. <%= job.first.job_title %></h2></summary>
        <%= simple_form_for job, html: { class: 'needs-validation', 'data-controller': 'application-form', 'data-application-form-target': 'form', 'data-action': 'submit->application-form#submitForm', 'data-all-application-forms-target': "form",  novalidate: true } do |f| %>

          <%# Dynamically create form elements based on application_criteria %>
          <%# Convert to simple_fields_for application_responses. Then use those to create the input fields below. %>
          <% job.last.application_responses.each_with_index do |response, response_index| %>
            <%# Console.log the hash of application responses %>

            <% if response_index == 0 %>
              <details class="core-details bg-light" closed>
              <summary class="mb-2 bolded">Core details:</summary>
            <% end %>

            <%= f.simple_fields_for "application_responses", response do |ff| %>
              <div class="form-group row mb-3">
                <label  class="apply-label col-sm-3 col-form-label text-center rounded-pill" for=""><%= response.field_name.humanize %></label>
                <% case ff.object.interaction %>
                <% when "input" %>
                  <div class="col-sm-9 mr-2">
                    <%= ff.input :field_name, as: :hidden, input_html: { class: 'mb-0', style: "margin-bottom: 0px;"}, wrapper_html: { class: 'wrapper-mb-0' }, label: false %>
                    <%= ff.input :field_locator, as: :hidden, input_html: { class: 'mb-0' }, wrapper_html: { class: 'wrapper-mb-0' }, label: false %>
                    <%= ff.input :interaction, as: :hidden, input_html: { class: 'mb-0' }, wrapper_html: { class: 'wrapper-mb-0' }, label: false %>
                    <%= ff.input :field_option, as: :hidden, input_html: { class: 'mb-0' }, wrapper_html: { class: 'wrapper-mb-0' }, label: false %>
                    <%= ff.input :field_value, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-pill", data: { label: response.field_name, response_input_target: "input", action: "keyup->response-input#handleChange change->response-input#handleChange"} } %>
                  </div>
                <% when "upload" %>
                  <div class="col-sm-9 mr-2">
                    <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_value, label_html: { class: "d-none"}, input_html: { class: "rounded-pill", data: { label: response.field_name, response_input_target: "input", action: "keyup->response-input#handleChange change->response-input#handleChange"}, value: current_user.resume.attached? ? current_user.resume.filename : "No CV / resume attached", disabled: true }, wrapper_html: { class: 'wrapper-mb-0' } %>
                  </div>
                <% when "combobox" %>
                  <div class="col-sm-9">
                    <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_value, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-pill", data: { label: response.field_name, response_input_target: "input", action: "keyup->response-input#handleChange change->response-input#handleChange"} } %>
                  </div>
                <% when "radiogroup" %>
                  <div class="col-sm-9">
                    <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_value, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-pill", data: { label: response.field_name, response_input_target: "input"} } %>
                  </div>
                <% when "listbox" %>
                  <div class="col-sm-9">
                    <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_value, as: :boolean, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-pill", data: { label: response.field_name, response_input_target: "input"} } %>
                  </div>
                <% when "checkbox" %>
                  <div class="col-sm-9">
                    <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <% field_options = JSON.parse(response.field_options) %>
                    <%= ff.input :field_value, as: :check_boxes, collection: field_options, legend_tag: false, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-pill", data: { label: response.field_name, response_input_target: "input"} } %>
                  </div>
                <% when "select" %>
                  <div class="col-sm-9">
                    <%= ff.input :field_name, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_locator, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :interaction, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%= ff.input :field_option, as: :hidden, wrapper_html: { class: 'wrapper-mb-0' } %>
                    <%# TODO: Add stimulus controller to be able to click on core details and go to edit page if not filled in %>
                    <%# TODO: Update schema so that field_options is an array rather than string to prevent current need for JSON.parse %>
                    <% field_options = JSON.parse(response.field_options) %>
                    <%= ff.input :field_value, as: :select, collection: field_options, label: false, wrapper_html: { class: 'wrapper-mb-0' }, input_html: { class: "rounded-pill", data: { label: response.field_name, response_input_target: "input"} } %>
                  </div>
                  <%# Input, Combobox, Radiogroup, Listbox, Select %>
                <% end %>

              </div>
            <% end %>

            <% if response.field_name == "resume" %> <%# This is the last CORE APPLICATION FIELD%>
              </details>
              <details class="core-details bg-light" open> <%# Add a new details tag for additional details %>
                <summary class="mb-2 bolded">Additional requirements:</summary> <%# Close the additional details tag %>
            <% end %>
            <% if response_index + 1 == job.last.application_responses.length %>
              </details>
            <% end %>
          <% end %>

          <div class="d-flex justify-content-end align-items-end">
            <%= f.submit 'Submit this app', class: 'btn btn-cheddar-secondary', 'data-action': 'click->application-form#submitForm', disabled: !current_user.resume.attached? %>
          </div>
        <% end %>
        </details>
    <% end %>
  </div>

  <%= render 'loading' %>

</div>

<%# removed this code: action: "keyup->response-input#handleChange change->response-input#handleChange" %>
