<%= provide(:title, 'New Job Applications') %>

<%# TODO: Add d-none to subsidiary application forms %>
<%# TODO: Add company name to each job application form %>
<%# TODO: Update surfacing of form options to check correct - validate against actual forms %>

<%# TODO: Add to core details so additional requirements appears less %>
<%# TODO: Add mark done/complete to each form %>
<%# TODO: Remove pill formatting and update formatting of form %>

<%# TODO: Truncate/reword long-worded fields %>
<%# TODO: Remove additional fields which don't require user input %>
<%# TODO: Make CV field clickable to review CV %>
<%# TODO: Hide additional requirements if empty %>

<%# TODO: Add primary key tagging to reconcile form inputs %>

<%# TODO: Add ability that editing one form field edits others %>
<%# TODO: Add ability to upload CV directly in page %>
<%# TODO: Add ability to update database variables from form inputs %>

<%# TODO: Make forms a carousel rather than scroll %>

<%# TODO: Surface Cover Letter input %>

<%# TODO: Submit form without reloading page - surface loading screen %>

<%# TODO: Highlight which company you're on depending on position in the page %>
<%# TODO: Highlight which applications you've confirmed before sending %>

<%# TODO: Add did you know pop up - you can check the actual application forms... %>
<%# TODO: Add CheddarGPT assistance for long-text inputs/cover letter %>

<div class="container mt-3 col-sm-6" data-controller="all-application-forms" data-all-application-forms-user-value="<%= current_user.id %>" data-all-application-forms-jobs-count="<%= @selected_jobs.size %>">
  <div class="d-flex justify-content-between align-items-center sticky-top bg-white">
    <div class="companies d-flex flex-column justify-content-start">
      <%# Dynamically load the company logos based on selected jobs %>
      <p class="mb-1">Current applications</p>

      <div class="company-apply-summary bg-body-secondary p-2 d-flex">
        <% @selected_jobs.each_with_index do |job, index| %>
          <div><%= index + 1 %></div>
          <%= link_to image_tag("https://logo.clearbit.com/#{job.company.company_website_url}?size=60px", onerror: "this.src='https://i.pinimg.com/736x/ec/d9/c2/ecd9c2e8ed0dbbc96ac472a965e4afda.jpg'", class: 'img-fluid'), job.job_posting_url, target: '_blank', class: 'apply-company-logo' %>
        <% end %>
      </div>
    </div>

    <div class="d-flex justify-content-end align-items-center">
      <div class="btn btn-apply mt-1 <%= 'disabled' unless current_user.resume.attached? %>"
           data-all-application-forms-target="button"
           data-action="click->all-application-forms#submitAllForms">Apply to All
      </div>
    </div>

  </div>

  <%# Iterate over each selected job %>
  <div class="all-application-forms m-auto">
    <% @job_applications.each_with_index do |job, index| %>
      <%= render partial: 'job_application_form', locals: {job: job, index: index } %>
    <% end %>
  </div>

  <%= render 'loading' %>

</div>
