<%# TODO: Update number of jobs to be this application session (create a session or keep in params?) %>
<%# TODO: Note that dog picture is currently slow to load %>
<%# TODO: Update happy dog to another measure of success %>

<div class="confirmation-container mt-5" data-controller="confetti">
  <div class="success-box">
    <div class="confirmation-header">
        <h1>🎉 Well done 🎉</h1>
        <h4>You've now applied to <strong><%= @apps_submitted %> jobs</strong> with Cheddar... saving <strong>~<%= @hours_saved %></strong> <%= @hours_saved == 1 ? "hour" : "hours" %> of your time</h4>
        <h4 class="pt-3"><%= @dog_names.sample.capitalize %> is proud of you</h4>
    </div>
    <div class="confirmation-body mt-0 pb-3 d-flex align-items-center" data-action="click->confetti#click" style="cursor:pointer; max-height: 400px; overflow: hidden; border-radius: 10px; object-fit: cover;">
        <%= link_to image_tag('https://source.unsplash.com/random/900%C3%97700/?dog', alt: 'Happy dog unsplash', class: 'confirmation-body-img') %>
    </div>
    <div class="confirmation-actions pb-2">
      <h5 class="pt-2">Next steps</h5>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <%= link_to 'More jobs', new_job_application_path, class: "btn btn-apply" %>
        </div>
        <button id="confetti-btn" data-action="click->confetti#click" class="btn btn-cheddar-secondary">More confetti!</button>
        <div>
          <%= link_to 'Tell a friend', '#', class: "btn btn-apply" %>
        </div>
      </div>
    </div>
  </div>
</div>
