<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">

    <div class="d-flex justify-content-start">
    <%= link_to "/#", class: "navbar-brand" do %>
      <%= image_tag("cheddar_logo_icon.svg", alt: "Logo") %>
    <% end %>
      <%= image_tag("cheddar_logo_text.svg", alt: "logo", class: "larger-image mt-3") %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# TODO: Fix spacing on elements when hovered %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex flex-row align-items-center">
        <li class="nav-item active d-flex flex-column align-items-center me-2">
          <i class="fa-solid fa-screwdriver-wrench"></i>
          <%= link_to "How It Works", how_it_works_path, class: "nav-link pt-1 pb-0" %>
        </li>
        <li class="nav-item active d-flex flex-column align-items-center me-2">
          <i class="fa-regular fa-circle-play"></i>
          <%= link_to "All Jobs", jobs_path, class: "nav-link pt-1 pb-0" %>
        </li>
        <li class="nav-item active d-flex flex-column align-items-center me-2">
          <i class="fa-regular fa-heart"></i>
          <%= link_to "My Jobs", saved_jobs_path, class: "nav-link pt-1 pb-0" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item dropdown pb-1">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.key %>
                <%= cl_image_tag current_user.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "avatar_default.png", class: "avatar", alt: "dropdown menu" %>
              <% end %>
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Profile", profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "My Apps", job_applications_path, class: "dropdown-item" %>
              <%= link_to "Job Prefs", profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "Settings", profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
