<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">

    <div class="d-flex justify-content-start align-items-center">
      <%= link_to "/#", class: "navbar-brand me-1" do %>
        <%= image_tag("cheddar_logo_new_3.svg", alt: "Logo") %>
      <% end %>
      <%= link_to "/#" do %>
        <%= image_tag("cheddar_logo_text.svg", alt: "logo", class: "larger-image") %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto d-flex flex-row align-items-center">

          <li class="nav-item active d-flex flex-column align-items-center" style="min-width: 100px">
            <%= link_to how_it_works_path, class: "nav-link d-flex flex-column align-items-center pt-1 pb-0" do %>
              <span>How It Works</span>
            <% end %>
          </li>

          <li class="nav-item active d-flex flex-column align-items-center" style="min-width: 100px">
            <%= link_to jobs_path, class: "nav-link d-flex flex-column align-items-center pt-1 pb-0" do %>
              <span>Find Jobs</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <% if user_signed_in? && Flipper.disabled?() %>
      <ul class="mb-2 d-flex align-items-center">
        <%= link_to saved_jobs_path, class: "nav-link d-flex flex-column align-items-center pt-1 pb-0" do %>
          <i class="fa-regular fa-bell d-none"></i>
        <% end %>
        <%= link_to saved_jobs_path, class: "nav-link d-flex flex-column align-items-center pt-1 pb-0 ms-3" do %>
          <i class="fa-solid fa-cart-shopping"></i>
        <% end %>
        <li class="nav-item dropdown mb-2 ms-2">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "ai_cartoon_smiley.png", class: "avatar", alt: "dropdown menu" %>
            <% end %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" style="z-index: 1100;">
            <%= link_to "My Profile", profile_path(current_user), class: "dropdown-item" %>
            <%= link_to "My Apps", job_applications_path, class: "dropdown-item" %>
            <%= link_to "Settings", profile_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% elsif Flipper.enabled?(:log_in_buttons) %>
      <div class='d-flex lgin-sgup-btn'>
        <%= link_to "Log in", new_user_session_path, class:"login-btn" %>
        <%= link_to "Sign up", new_user_registration_path, class:"signup-btn" %>
      </div>
    <% else %>
      <%= link_to "Give feedback on Cheddar's alpha",
      "mailto:charles.cheesman1@gmail.com?subject=Feedback%20on%20Cheddar%20Alpha%20Testing&body=Hello%20Cheddar%20Team,%0A%0AHere's%20my%20feedback%20on%20Cheddar's%20alpha%20testing:%0A%0A",
      class: "btn btn-light rounded-pill", style: "color: black" %>
    <% end %>
  </div>
</div>
