<% title "Home" %>
<section id="animated-cta-bar">
  <div class="cta-content">
    <div class="background" id="landing-page-background">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 d-flex flex-column justify-content-center align-items-center mx-auto">
            <div id="punchline" class="d-flex flex-column align-items-center landing-page-container text-center bg-white rounded">
              <h1 class="mb-0">The all-in-one job application platform for grads</h1>
              <%# <h1 class="mt-4 mb-0"><strong>...and get hired!<strong></h1> %>
              <%= link_to "Apply now", jobs_path, class: "btn-main mt-4 text-center" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="floating-icons">
    <%# TODO: Update brands drifting across %>
    <li class="drift drift-1 delay-1"><div class="float float-1"><i <i class="fa-brands fa-aws fa-lg"></i></div></li>
    <li class="drift drift-2 delay-3"><div class="float float-2"><i <i class="fa-brands fa-apple fa-lg"></i></div></li>
    <li class="drift drift-3"><div class="float float-3"><i <i class="fa-brands fa-google fa-lg"></i></div></li>
    <li class="drift drift-4 delay-2"><div class="float float-4"><i <i class="fa-brands fa-amazon fa-lg"></i></div></li>
    <li class="drift drift-5"><div class="float float-5"><i <i class="fa-brands fa-ebay fa-lg"></i></div></li>
    <li class="drift drift-6 delay-2"><div class="float float-6"><i <i class="fa-brands fa-x-twitter fa-lg"></i></div></li>
    <li class="drift drift-7"><div class="float float-7"><i <i class="fa-brands fa-paypal fa-lg"></i></div></li>
    <li class="drift drift-8 delay-5"><div class="float float-8"><i <i class="fa-brands fa-btc fa-2xl"></i></div></li>
    <li class="drift drift-9 delay-5"><div class="float float-9"><i <i class="fa-brands fa-tiktok fa-lg"></i></div></li>
    <li class="drift drift-10 delay-3"><div class="float float-10"><i <i class="fa-brands fa-linkedin fa-sm"></i></div></li>
    <li class="drift drift-5 delay-4"><div class="float float-7"><i <i class="fa-brands fa-youtube fa-lg"></i></div></li>
    <li class="drift drift-2 delay-5"><div class="float float-3"><i <i class="fa-brands fa-shopify"></i></div></li>
    <li class="drift drift-3 delay-1"><div class="float float-9"><i <i class="fa-brands fa-slack"></i></div></li>
    <li class="drift drift-6 delay-5"><div class="float float-1"><i <i class="fa-brands fa-yahoo"></i></div></li>
    <li class="drift drift-9 delay-2"><div class="float float-10"><i <i class="fa-brands fa-playstation"></i></div></li>
  </ul>
</section>

<div class="spacer">
</div>

<div class="container-md steps-to-apply">
  <h3 class="text-center">Steps to apply</h3>
  <div class="row justify-content-around">
    <div class="col-md-3 mb-3" style="position: relative;">
      <div class="box p-3 text-center">
        <div>
          <%# <i class="fa-solid fa-magnifying-glass fa-3x mb-3"></i> %>
          <%= image_tag "steps-to-apply/search-step.svg", alt: "search-icon", class:"step-icon" %>
          <h5>Select suitable jobs</h5>
          <p class="mt-4">Phasellus quis eleifend ex. Morbi nec fringilla nibh.</p>
        </div>
      </div>
    <%= image_tag "steps-to-apply/Arrows-01.svg", alt:"arrow-01", class:"arrow-01"%>
    </div>
    <div class="col-md-3 mb-3" style="position: relative;">
      <div class="box p-3 text-center">
        <div>
          <%= image_tag "steps-to-apply/create-step.svg", alt: "search-icon", class:"step-icon" %>
          <%# <i class="fa-solid fa-user-plus fa-3x mb-3"></i> %>
          <h5>Create your profile</h5>
          <p class="mt-4">Aliquam facilisis egestas sapien, nec tempor leo tristique at.</p>
        </div>
      </div>
      <%= image_tag "steps-to-apply/Arrows-02.svg", alt:"arrow-02", class:"arrow-02"%>
    </div>
    <div class="col-md-3 mb-3" style="position: relative;">
      <div class="box p-3 text-center">
        <div>
          <%= image_tag "steps-to-apply/upload-step.svg", alt: "search-icon", class:"step-icon" %>
          <%# <i class="fa-solid fa-file-arrow-up fa-3x mb-3"></i> %>
          <h5>Upload your CV</h5>
          <p class="mt-4">Curabitur sit amet maximus ligula. Nam a nulla ante. Nam sodales</p>
        </div>
      </div>
      <%= image_tag "steps-to-apply/Arrows-01.svg", alt:"arrow-03", class:"arrow-03"%>
    </div>
    <div class="col-md-3 mb-3">
      <div class="box p-3 text-center">
        <div>
          <%= image_tag "steps-to-apply/apply-step.svg", alt: "search-icon", class:"step-icon" %>
          <%# <i class="fa-solid fa-check-double fa-3x mb-3"></i> %>
          <h5>Apply to jobs at once!</h5>
          <p class="mt-4">Curabitur sit amet maximus ligula. Nam a nulla ante, Nam sodales purus.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spacer">
</div>
