<div id="landing-main">
  <div id="landing-left"></div>
    <%= image_tag "cheddar_logo_text.svg", alt: "logo" %>
    <%= image_tag "cheddar-outline-circle.png", alt: "cheddar-outline-circle" %>
    <%= image_tag "cheddar-3d-icon.png", alt: "cheddar-3d-icon" %>
    <h1>Apply to jobs at every company via a single site</h1>
  <div id="landing-right">
    <%= image_tag "consulting-firms/accenture-logo.png", alt: "accenture-logo" %>
    <%= image_tag "consulting-firms/thebridgespangroup-logo.png", alt: "thebridgespan-logo" %>
    <%= image_tag "consulting-firms/pwc-logo.png", alt: "pwc-logo" %>
    <%= image_tag "consulting-firms/lek-logo.png", alt: "lek-logo" %>
    <%= image_tag "consulting-firms/ibm-logo.png", alt: "ibm-logo" %>
    <%= image_tag "consulting-firms/ey-logo.png", alt: "ey-logo" %>
    <%= image_tag "consulting-firms/pa-logo.png", alt: "pa-logo" %>
    <%= image_tag "consulting-firms/kpmg-logo.png", alt: "kpmg-logo" %>
    <%= image_tag "consulting-firms/baringa-logo.png", alt: "baringa-logo" %>
    <%= image_tag "consulting-firms/bmc-logo.png", alt: "bmc-logo" %>
    <%= image_tag "consulting-firms/bcg-logo.png", alt: "bcg-logo" %>
    <%= image_tag "consulting-firms/GrantThornton-logo.png", alt: "GrantThornton-logo" %>
    <%= image_tag "consulting-firms/bdo-logo.png", alt: "bdo-logo" %>
    <%= image_tag "consulting-firms/erm-logo.png", alt: "erm-logo" %>
    <%= image_tag "consulting-firms/atkins-logo.png", alt: "atkins-logo" %>
    <%= image_tag "consulting-firms/Deloitte-logo.png", alt: "Deloitte-logo" %>
  </div>
</div>
<div id="landing-cto">
  <h3>Join the waitlist</h3>
</div>
