<div id="landing-main">
  <div id="landing-left">
    <%= image_tag "cheddar_logo_text.svg", class:"cheddar-logo-txt",  alt: "logo" %>
    <div id="landing-logo">
      <%= image_tag "cheddar-outline-circle.png", class: "cheddar-outline-circle", alt: "cheddar-outline-circle" %>
      <%= image_tag "cheddar-3d-icon.png", class:"cheddar-3d-icon", alt: "cheddar-3d-icon" %>
    </div>
    <h1 class="tag-line">Apply to jobs at every company via a single site</h1>
    </div>
  <div id="landing-right">
    <%= image_tag "consulting-firms/accenture-logo.png", class:"firm-logo", alt: "accenture-logo" %>
    <%= image_tag "consulting-firms/thebridgespangroup-logo.png", class:"firm-logo", alt: "thebridgespan-logo" %>
    <%= image_tag "consulting-firms/pwc-logo.png", class:"firm-logo", alt: "pwc-logo" %>
    <%= image_tag "consulting-firms/lek-logo.png", class:"firm-logo", alt: "lek-logo" %>
    <%= image_tag "consulting-firms/ibm-logo.png", class:"firm-logo", alt: "ibm-logo" %>
    <%= image_tag "consulting-firms/ey-logo.png", class:"firm-logo", alt: "ey-logo" %>
    <%= image_tag "consulting-firms/pa-logo.png", class:"firm-logo", alt: "pa-logo" %>
    <%= image_tag "consulting-firms/kpmg-logo.png", class:"firm-logo", alt: "kpmg-logo" %>
    <%= image_tag "consulting-firms/baringa-logo.png", class:"firm-logo", alt: "baringa-logo" %>
    <%= image_tag "consulting-firms/bmc-logo.png", class:"firm-logo", alt: "bmc-logo" %>
    <%= image_tag "consulting-firms/bcg-logo.png", class:"firm-logo", alt: "bcg-logo" %>
    <%= image_tag "consulting-firms/GrantThornton-logo.png", class:"firm-logo", alt: "GrantThornton-logo" %>
    <%= image_tag "consulting-firms/bdo-logo.png", class:"firm-logo", alt: "bdo-logo" %>
    <%= image_tag "consulting-firms/erm-logo.png", class:"firm-logo", alt: "erm-logo" %>
    <%= image_tag "consulting-firms/atkins-logo.png", class:"firm-logo", alt: "atkins-logo" %>
    <%= image_tag "consulting-firms/Deloitte-logo.png", class:"firm-logo", alt: "Deloitte-logo" %>
  </div>
</div>
<div id="landing-cto">
  <h3>Join the waitlist</h3>
  <div class="landing-btn-div">
  <input type="text" class="landing-input" name="email." placeholder="email.">
  <button class="landing-btn"><i class="fa-solid fa-chevron-right fa-bold"></i></button>
  </div>
</div>
