<div class="my-6 overflow-hidden rounded-2xl bg-zinc-900 shadow-md dark:ring-1 dark:ring-white/10" data-controller='code-group'>
  <div class="hidden" data-code-group-target="content">
    <% if code_group[:languages] %>
      <% code_group[:languages].map do |language| %>
        <div data-content-for="<%= language[:display_name].downcase %>"><%= language[:content] %></div>
      <% end %>
    <% elsif code_group[:value] && code_group[:language] %>
      <div data-code-content data-language="<%= code_group[:language] %>"><%= code_group[:value] %></div>
    <% end %>
  </div>
  <div class="not-prose">
    <div class="flex min-h-[calc(theme(spacing.12)+1px)] flex-wrap items-start gap-x-4 border-b border-zinc-700 bg-zinc-800 px-4 dark:border-zinc-800 dark:bg-transparent">
      <% if code_group[:title] %>
        <h3 class="mr-auto pt-3 text-xs font-semibold text-white"><%= code_group[:title] %></h3>
      <% end %>
      <div class="-mb-px flex gap-4 text-xs font-medium" role="tablist" aria-orientation="horizontal" data-code-group-target="languageSelectorContainer">
        <% if code_group[:languages] %>
          <% code_group[:languages].each do |language| %>
            <button class="py-3 transition ui-not-focus-visible:outline-none " id="headlessui-tabs-tab-:r6:" role="tab" type="button"  data-action="click->code-group#changeLanguage" data-language="<%= language[:display_name].downcase %>" data-display-as="<%= language[:display_as] %>"><%= language[:display_name] %></button>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <div role="tabpanel" tabindex="0"  data-selected="">
        <div class="group dark:bg-white/2.5">
          <% if code_group[:request] %>
            <div class="flex h-9 items-center gap-2 border-y border-b-white/7.5 border-t-transparent bg-white/2.5 bg-zinc-900 px-4 dark:border-b-white/5 dark:bg-white/1">
              <div class="dark flex"><span class="font-mono text-[0.625rem] font-semibold leading-6 text-red-500 dark:text-rose-500"><%= code_group[:request][:method] %></span></div>
              <span class="h-0.5 w-0.5 rounded-full bg-zinc-500"></span><span class="font-mono text-xs text-zinc-400"><%= code_group[:request][:url] %></span>
            </div>
          <% end %>
          <div class="relative">
            <div class="overflow-x-auto p-4 text-xs text-white" data-code-group-target="contentDisplay">
            </div>
            <button type="button" class="group/button absolute right-4 top-3.5 overflow-hidden rounded-full py-1 pl-2 pr-3 text-2xs font-medium opacity-0 backdrop-blur transition focus:opacity-100 group-hover:opacity-100 bg-white/5 hover:bg-white/7.5 dark:bg-white/2.5 dark:hover:bg-white/5" data-action="click->code-group#copyContent" data-code-group-target="copyButton"><span aria-hidden="false" class="pointer-events-none flex items-center gap-0.5 text-zinc-400 transition duration-300">
                <span class="pointer-events-none flex items-center gap-0.5 text-zinc-400 transition duration-300" data-code-group-target="copyContent">
                  <%= inline_svg_tag('template/icons/clipboard.svg') %> Copy</span>
                <span class="flex pointer-events-none absolute inset-0 items-center justify-center text-mauve-400 transition duration-300 translate-y-1.5 opacity-0" data-code-group-target="copiedContent">Copied!</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
