<div class="hidden lg:flex">
    <%= link_to opportunities_path, class: "flex h-6 w-24 items-center" do %>
      <%= inline_svg_tag('cheddar_logo_text_1.svg', class: "dark:hidden") %>
      <%= inline_svg_tag('cheddar_logo_text.svg', class: "hidden dark:block") %>
    <% end %>
</div>
<div class="hidden lg:flex lg:max-w-md lg:flex-auto lg:ml-28">
    <button type="button" class="hidden h-8 w-full items-center gap-2 rounded-full bg-white pl-2 pr-3 text-sm text-zinc-500 ring-1 ring-zinc-900/10 transition hover:ring-zinc-900/20 ui-not-focus-visible:outline-none lg:flex dark:bg-white/5 dark:text-zinc-400 dark:ring-inset dark:ring-white/10 dark:hover:ring-white/20" data-action="click->search#showSearch">
      <%= inline_svg_tag('template/icons/search.svg') %>
      <span>Find jobs ...</span>
      <kbd class="ml-auto text-2xs text-zinc-400 dark:text-zinc-500">
        <kbd class="font-sans">Ctrl </kbd>
        <kbd class="font-sans">K</kbd>
      </kbd>
    </button>
</div>
<div class="hidden lg:flex items-center gap-5">
  <div class="flex items-center lg:ml-8">
    <div class="flex space-x-8">
      <span class="mx-4 h-6 w-px bg-gray-200 lg:mx-6" aria-hidden="true"></span>
      <div class="hidden lg:flex">
        <span class="sr-only">Dark Mode Switch</span>
        <button type="button" class="flex h-6 w-6 items-center justify-center rounded-md text-gray-400 hover:text-gray-500" aria-label="Switch to light theme" data-action="click->theme#toggleTheme">
          <svg class="size-5 hidden dark:block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
          </svg>                      
          <svg class="size-5 dark:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
          </svg>
        </button>
      </div>
      <% if current_user %>
        <div>
          <%= link_to saved_jobs_path, class: "group -m-2 p-2 flex items-center" do %>
            <svg class="size-5 flex-shrink-0 text-gray-400 dark:text-gray-99 group-hover:text-gray-500 dark:group-hover:text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path>
            </svg>
            <span class="ml-2 text-sm font-medium text-gray-700 dark:text-gray-400 group-hover:text-gray-800 dark:group-hover:text-white"><%= current_user.saved_jobs.count %></span>
            <span class="sr-only">items in cart, view bag</span>
          <% end %>
        </div>
      <% end %>
      <!-- <span class="mx-4 h-6 w-px bg-gray-200 lg:mx-6" aria-hidden="true"></span> -->
      <div class="flex" data-controller="profile-dropdown" data-profile-dropdown-target="dropdownContainer">
        <button type="button" class="-m-2 p-2 text-gray-400 hover:text-gray-500">
          <span class="sr-only">Open user menu</span>
          <svg class="size-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
          </svg>   
        </button>
        <div class="hidden absolute top-10 right-10 z-10 mt-2 w-48 origin-top-right bg-zinc-50 dark:bg-zinc-900 py-1 shadow-lg ring-1 ring-zinc-900/7.5 dark:ring-zinc-800 ring-opacity-5 focus:outline-none" tabindex="-1" data-profile-dropdown-target="dropdown">
          <% if current_user %>
            <%= link_to "Edit account", edit_user_registration_path, class: "block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-800 dark:hover:text-white" %>
            <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-800 dark:hover:text-white" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-800 dark:hover:text-white" %>
            <%= link_to "Sign up", new_user_registration_path, class: "block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-800 dark:hover:text-white" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>