
<li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6 dark:hover:bg-gray-700/50 lg:px-8">
  <div class="flex gap-x-4 pr-6 sm:w-1/2 sm:flex-none">
    <div class="flex items-center">
      <%= image_tag("https://logo.clearbit.com/#{opportunity.company.url_website}", onerror: "this.src='https://i.pinimg.com/736x/ec/d9/c2/ecd9c2e8ed0dbbc96ac472a965e4afda.jpg'", class: "h-12 w-12 flex-none rounded-full bg-gray-50") %>
    </div>
    <div class="min-w-0 flex-auto">
      <%= link_to opportunity_path(opportunity.id) do %> 
      <p class="text-sm font-semibold leading-6 text-gray-900 dark:text-white">
        <span class="absolute inset-x-0 -top-px bottom-0"></span>
        <%= opportunity.title.truncate(35) %>
      </p>
      <p class="mt-1 flex text-xs leading-5 text-gray-500 dark:text-gray-400">
        <%= opportunity.company.name %>
      </p>
      <p class="mt-1 flex text-xs leading-5 text-gray-500 dark:text-gray-400">
        <%= opportunity_public_location(opportunity) %>
      </p>
      <% end %>
    </div>
  </div>
  <div class="flex shrink-0 items-center gap-x-4">
    <div class="sm:flex sm:flex-col sm:items-end">
      <p class="mt-1 text-xs leading-5 text-gray-500 dark:text-gray-400"><%= opportunity_salary_presentation(opportunity) %></p>
      <p class="mt-1 text-xs leading-5 text-gray-500 dark:text-gray-400"><%= opportunity_public_employment_type(opportunity) %></p>
      <p class="mt-1 text-xs leading-5 text-gray-500 dark:text-gray-400"><%= opportunity_days_remaining(opportunity) %></p>
    </div>
  </div>
  <div class="flex shrink-0 items-center gap-x-4">
    <% if current_user %>
      <div class="relative z-10">
        <% if job_saved?(opportunity) %>
          <%= link_to opportunity_destroy_saved_jobs_path(opportunity_id: opportunity.id), data: {turbo_method: :delete}, method: :delete, class:"inline-flex items-center gap-x-1.5 rounded-xl !bg-indigo-50 px-2.5 py-1.5 !text-sm !font-semibold !text-indigo-600 !shadow-sm !hover:bg-indigo-100 !focus-visible:outline !focus-visible:outline-2 !focus-visible:outline-offset-2 !focus-visible:outline-indigo-200" do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M6.32 2.577a49.255 49.255 0 0 1 11.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 0 1-1.085.67L12 18.089l-7.165 3.583A.75.75 0 0 1 3.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93Z" clip-rule="evenodd" />
            </svg>          
          <% end %>
        <% else %>
          <%= link_to opportunity_saved_jobs_path(opportunity), data: {turbo_method: :post}, class:"inline-flex items-center gap-x-1.5 rounded-xl !bg-indigo-50 px-2.5 py-1.5 !text-sm !font-semibold !text-indigo-600 !shadow-sm !hover:bg-indigo-100 !focus-visible:outline !focus-visible:outline-2 !focus-visible:outline-offset-2 !focus-visible:outline-indigo-200" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
            </svg>          
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="relative z-10">
      <%= link_to opportunity.posting_url, class:"inline-flex items-center gap-x-1.5 rounded-xl !bg-indigo-50 px-2.5 py-1.5 !text-sm !font-semibold !text-indigo-600 !shadow-sm !hover:bg-indigo-100 !focus-visible:outline !focus-visible:outline-2 !focus-visible:outline-offset-2 !focus-visible:outline-indigo-200", target: "_blank" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
        </svg>  
        Apply
      <% end %>
    </div>
  </div>
</li>
