<article class="flex h-full flex-col pb-10 pt-16">
    <div class="flex-auto prose dark:prose-invert
        [html_:where(&amp;>*)]:mx-auto
        [html_:where(&amp;>*)]:max-w-3xl
        [html_:where(&amp;>*)]:lg:mx-[calc(40%-min(40%,theme(maxWidth.lg)))]
        [html_:where(&amp;>*)]:lg:max-w-4xl">
        <div class="grid grid-cols-1 items-start gap-x-16 gap-y-10 xl:max-w-none xl:!grid-cols-5">
            <div class="col-span-1 xl:col-span-3 [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                <div class="flex items-top px-4 sm:px-0">
                    <div class="flex-grow">
                        <h1 class="text-base font-semibold leading-7 text-gray-900 dark:text-white"><%= @opportunity.title %></h1>
                        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Confirmed live in the last 24 hours #!!#</p>
                    </div>
                    <div class="flex justify-end items-center gap-x-6 sm:gap-x-8">
                        <button type="button" class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500 dark:text-gray-500 hover:dark:text-gray-400">
                            <span class="sr-only">Share</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                            </svg>
                        </button>
                        <%= link_to "Apply", @opportunity.posting_url, class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white dark:text-gray-900 shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", target: "_blank" %>
                    </div>
                </div>
                <div class="mt-6 border-t border-gray-100 dark:border-gray-800">
                    <dl class="divide-y divide-gray-100 dark:divide-gray-800">
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Locations</dt>
                            <dd class="text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                                <% @opportunity.locations.each do |location| %>
                                    <span class="block"><%= location.full_presentation %></span>
                                <% end %>
                            </dd>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Experience Level</dt>
                            <dd class="text-sm leading-6 sm:col-span-2 sm:mt-0">
                                <% seniorities = %w(Entry Junior Mid Senior Expert) %>
                                <% seniorities.each do |seniority| %>
                                    <span class="block <%= seniority_css(@opportunity, seniority) %>"><%= seniority %></span>
                                <% end %>
                            </dd>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Desired Skills #!!#</dt>
                            <dd class="text-sm leading-6 sm:col-span-2 sm:mt-0">
                                <span class="block">Sales #!!#</span>
                            </dd>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Categories #!!#</dt>
                            <dd class="text-sm leading-6 sm:col-span-2 sm:mt-0">
                                <span class="block">Business & Strategy #!!#</span>
                            </dd>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Description</dt>
                            <dd class="text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                                <span class="block"><%= @opportunity.description %></span>
                            </dd>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Benefits</dt>
                            <dd class="text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                                <span class="block"><%= @opportunity.benefits %></span>
                            </dd>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Requirements</dt>
                            <dd class="text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                                <span class="block"><%= @opportunity.requirements %></span>
                                <!-- <span class="block">0-3 years of sales experience or working in a start-up in a client facing role</span>
                                <span class="block">Ability to manage prospect conversations and handle unexpected questions</span>
                                <span class="block">Perseverance and can-do attitude Growth mindset and belief in achieving the impossible</span>
                                <span class="block">Ability to thrive in a fast-paced, team-oriented environment Intellectual curiosity and readiness to become a trusted consultant in Computer Vision</span> -->
                            </dd>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Responsibilities #!!#</dt>
                            <dd class="text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                                <span class="block">#!!#</span>
                                <!-- <span class="block">Manage sales and meetings pipelines for both inbound and outbound sales activities</span>
                                <span class="block">Discover new sales leads based on industry & account researchCreate strategic outreach campaigns through various channels</span>
                                <span class="block">Qualify prospects/accounts through email, phone, and LinkedIn</span>
                                <span class="block">Support building the sales function from the ground up</span> -->
                            </dd>
                        </div>
                        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                            <dt class="text-sm font-medium leading-6 text-gray-900 dark:text-white">Desired Qualifications #!!#</dt>
                            <dd class="text-sm leading-6 text-gray-700 dark:text-gray-400 sm:col-span-2 sm:mt-0">
                                <span class="block">#!!#</span>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="col-span-1 xl:col-span-2 [&amp;>:first-child]:mt-0 [&amp;>:last-child]:mb-0">
                <div class="bg-white/5 ring-2 ring-indigo-500 rounded-3xl p-8 xl:p-10">
                    <div class="flex gap-x-4 pr-6">
                        <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                            <div class="flex items-center">
                                <div class="flex items-center">
                                    <%= image_tag("https://logo.clearbit.com/#{@opportunity.company.url_website}", onerror: "this.src='https://i.pinimg.com/736x/ec/d9/c2/ecd9c2e8ed0dbbc96ac472a965e4afda.jpg'", class: "h-18 w-18 flex-none rounded-full bg-gray-50") %>
                                </div>
                                <div class="ml-4">
                                    <div class="text-sm font-semibold text-gray-900 dark:text-white">
                                        <%= @opportunity.company.name %>
                                    </div>
                                    <div class="mt-1 text-gray-500 dark:text-gray-400">51-200 employees #!!#</div>
                                    <div class="mt-1 flex justify-center space-x-5">
                                        <%= link_to @opportunity.company.url_website, class:"inline-flex items-center gap-x-1.5 rounded-xl !bg-indigo-50 px-2.5 py-1.5 !text-sm !font-semibold !text-indigo-600 !shadow-sm !hover:bg-indigo-100 !focus-visible:outline !focus-visible:outline-2 !focus-visible:outline-offset-2 !focus-visible:outline-indigo-200", target: "_blank" do %>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                                            </svg>
                                            Website
                                        <% end %>
                                        <%= link_to @opportunity.company.url_linkedin, class:"inline-flex items-center gap-x-1.5 rounded-xl !bg-indigo-50 px-2.5 py-2.5 !text-sm !font-semibold !text-indigo-600 !shadow-sm !hover:bg-indigo-100 !focus-visible:outline !focus-visible:outline-2 !focus-visible:outline-offset-2 !focus-visible:outline-indigo-200", target: "_blank" do %>
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>

                                            </svg>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </div>
                    <p class="mt-4 text-md leading-6 text-gray-700 dark:text-gray-300"><%= @opportunity.company.short_description %></p>
                    <div class="mt-1 flex space-x-5">
                        <span class="inline-flex items-center rounded-full bg-gray-50 dark:bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-600 dark:text-gray-400 ring-1 ring-inset ring-gray-500/10 dark:ring-gray-800">AI & Machine Learning #!!#</span>
                        <span class="inline-flex items-center rounded-full bg-gray-50 dark:bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-600 dark:text-gray-400 ring-1 ring-inset ring-gray-500/10 dark:ring-gray-800">Data & Analytics #!!#</span>
                    </div>
                    <p class="mt-4 text-sm leading-6 text-gray-700 dark:text-gray-300">
                        <%= @opportunity.company.description %>
                        <!-- Encord's mission is to enable every company to harness the power of AI. Encord provides one AI-assisted platform to annotate, orchestrate collaborative labeling and quality control workflows, find & fix errors in training data, and train & diagnose models to deliver value from AI initiatives faster. -->
                    </p>
                    <p class="mt-0.5 text-sm text-gray-500 dark:text-gray-400">Benefits #!!#</p>
                    <ul role="list" class="mt-4 space-y-0 text-sm text-gray-700 dark:text-gray-300 xl:mt-5">
                        <li class="flex m-0">Social events #!!#</li>
                        <li class="flex">Flexible hours #!!#</li>
                        <li class="flex">Hybrid work #!!#</li>
                        <li class="flex">Fresh equipment & gear #!!#</li>
                        <li class="flex">Health insurance #!!#</li>
                        <li class="flex">Generous PTO #!!#</li>
                        <li class="flex">Visa sponsorship #!!#</li>
                        <li class="flex">Team lunches #!!#</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
