<% if true %>
<% title "Saved Jobs" %>
<article class="flex w-3/4 mx-auto h-full flex-col pb-10 pt-16" data-controller="saved-jobs">
  <ul class="divide-y bg-gray-100 divide-gray-100 dark:divide-gray-800">
    <li class="relative flex justify-between gap-x-4 px-4 py-5 hover:bg-gray-50 sm:px-6 dark:hover:bg-gray-700/50 lg:px-8">
      <div class="flex gap-x-4 pr-0 sm:flex-none">
        <div class="flex w-6 z-50 items-center float-start">
          <input type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" data-saved-jobs-target="mainCheckbox">
        </div>
      </div>
      <div class="flex flex-grow items-center">
        <%= link_to "Apply", new_job_application_path('job_ids[]': @records.pluck(:id)), class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white dark:text-gray-900 shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 opacity-50 cursor-not-allowed", data: { saved_jobs_target: "applyButton" } %>
      </div>
    </li>
  </ul>
  <ul role="list" class="divide-y divide-gray-100 dark:divide-gray-800">
    <!-- #rename later to jobs for jobs/_job.html.erb -->
    <% @records.each do |opportunity| %>
      <%= render 'opportunities/opportunity', opportunity: %>
    <% end %>
  </ul>
  <%= render 'shared/template/pagination', pagy: @pagy %>
</article>
<% else %>
<div class="container">
  <%= form_tag new_job_application_path, method: :get do %>

    <div class="d-flex align-items-center justify-content-between">
      <h3 id="saved-jobs-index-title">Basket</h3>
    </div>

    <div class="row pt-0">
      <div class="col-9">
        <% @saved_job_ids = @saved_jobs.pluck(:id) %>
          <%= render partial: '/jobs/job_card', collection: @records, as: :job, locals: { include_checkboxes: true }%>
      </div>

      <div class="col-3">
          <%= render partial: 'basket' %>
      </div>
    </div>

  <% end %>
</div>
<% end %>