<div class="container vh-180 d-flex align-items-center justify-content-center">
  <div class="d-flex justify-content-center align-items-center w-50 border shadow rounded p-2 m-4">
    <div class="col-md-10 p-0 m-0"> <!-- Adjust the column size as needed -->
      <div class="login-box text-center">
        <%# <h3>Add your Education</h3> %>
        <div data-controller="select-university">
          <%= simple_form_for @education do |f| %>
            <%= f.input :university, as: :select, collection: Education::UNIVERSITIES.map { |university| university.keys.first },
                input_html: { data: { select_university_target: 'button' }, style: 'display: none;' },
                label: 'Search for your university',
                label_html: { style: 'font-style: italic;' } %>
            <%= f.input :degree, label: 'Enter your degree level',
                label_html: { style: 'font-style: italic;' } %>
            <%= f.input :field_study, label: 'Enter your field of study',
                label_html: { style: 'font-style: italic;' } %>
            <%= f.input :graduation_year, label: 'Enter your graduation year',
                label_html: { style: 'font-style: italic;' } %>
            <%= f.submit 'Add education info', class: 'btn-add-info' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
