<% if request.fullpath.eql?('/protocol') %>
  <%= yield %>
<% elsif request.fullpath.include?('/jobs') ||
  request.fullpath.eql?('/') ||
  request.fullpath.end_with?('/template/users/sign_in') ||
  request.fullpath.end_with?('/template/users/password/new') ||
  request.fullpath.include?('/users/password/edit?') ||
  request.fullpath.end_with?('/template/users/sign_up') ||
  request.fullpath.end_with?('/template/users/edit')
%>
<!DOCTYPE html>
<html class="h-full" style="color-scheme: light;">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags site: "Cheddar" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "layout", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex min-h-full bg-white antialiased dark:bg-zinc-900">
    <%= render 'shared/template/search_dialog' %>
    <div class="w-full">
      <div class="h-full <%= @opportunities ? 'lg:ml-72 xl:ml-80' : '' %>" data-controller="theme mobile-nav">
        <header>
          <%= render 'shared/template/layout/header' %>
        </header>
        <div class="contents lg:fixed lg:inset-0 lg:flex">
          <%= render 'shared/template/layout/sidebar' if @opportunities %>
        </div>
        <div class="relative flex h-full flex-col px-4 pt-14 sm:px-6 lg:px-8">
          <main class="flex-auto">
            <%= yield %>
          </main>
          <%= render 'shared/template/page_footer', next_options: { title: "Quickstart", link_path: '#' } %>
        </div>
      </div>
    </div>
  </body>
</html>
<% else %>
<!DOCTYPE html>
<html>
  <head>
    <!-- Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= display_meta_tags site: "Cheddar" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Favicon -->
    <%= favicon_link_tag asset_path("cheddar_logo_new_3.svg") %>

    <!-- Importmaps -->
    <%= javascript_importmap_tags %>

    <!-- Analytics -->
    <% unless Rails.env.test? %>
      <%= render "shared/google_analytics" %>
      <%= render "shared/hotjar" %>
      <%= render "shared/hubspot" %>
    <% end %>
  </head>

  <body id="page-container">
    <div class="flex-grow-1">
      <div id="content-wrap">
        <%= render "shared/navbar" unless on_landing_page? %>
        <%= render "shared/flashes" unless on_landing_page? %>
        <%= yield %>
      </div>
    </div>
    <% if Flipper.enabled?(:cheddargpt) %>
      <div data-controller="chatbot">
        <div>
          <%= render partial: "messages/cheddargpt_modal" unless on_landing_page? %>
          <% unless on_landing_page? %>
            <div class="CheddarGPTmodal d-flex justify-content-center align-items-center" data-action="click->chatbot#open" >
              <div class="yellow-circle d-none"></div>
              <%= image_tag("cheddar_logo_new_3.svg", alt: "Cheddar Logo", style: "max-height: 50px; max-width: 50px;", class: "ms-1") %>
              <%# <p class="mb-0">CheddarGPT</p> %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if Flipper.enabled?(:footer) %>
      <%= render "pages/footer" unless on_landing_page? %>
    <% end %>
    <%# <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script> %>
  </body>
</html>
<% end %>
